#pricingcomponents {
    color: #fff;
    cursor: default;
    height: 4em;
    left: 0;
    top: 0;
    line-height: 3.5em;
    text-align: left;
    width: 100%;
    z-index: 10001;
    background: #273a63;
    opacity: 100%;
    margin: 0;
    justify-content: center;
}


@keyframes appear {
    0% {height: 0%; opacity: 50%;}
    100% {height: 4em; opacity: 100%;}
}

@keyframes disappear {
    0% {height: 4em; opacity: 100%;}
    100% {height: 0%; opacity: 0%;}
}

.appear {
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.disappear {
    animation-name: disappear;
    animation-duration: 1s;
}



    #pricingcomponents .inner {
        margin: 0 auto;
        position: relative;
    }

    #pricingcomponents .logo {
        color: #ffffff;
        display: inline-block;
        font-weight: 400;
        height: inherit;
        left: 0;
        line-height: inherit;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        font-size: 1em;
    }

        #pricingcomponents .logo strong {
            color: #ffffff;
            font-weight: 600;
        }

    #pricingcomponents a {
        -moz-transition: color 0.2s ease-in-out;
        -webkit-transition: color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
        display: inline-block;
        padding: 0 0.75em;
        color: inherit;
        text-decoration: none;
        font-size: 1em;
    }

        #pricingcomponents a:hover {
            color: #ffffff;
        }

        #pricingcomponents a:last-child {
            padding-right: 0;
        }

        #pricingcomponents a.navPanelToggle {
            display: none;
            text-decoration: none;
            height: 4em;
            width: 4em;
            z-index: 10003;
        }

            #pricingcomponents a.navPanelToggle .fa {
                font-size: 1.25em;
            }

            @media screen and (max-width: 980px) {

                #pricingcomponents a.navPanelToggle {
                    display: inline-block;
                }

            }

        @media screen and (max-width: 736px) {

            #pricingcomponents a {
                padding: 0 0.5em;
            }

        }

@media screen and (max-width: 980px) {

    #pricingcomponents {
        top: 1em;
    }

}

@media screen and (max-width: 736px) {

    #pricingcomponents {
        top: .5em;
    }

}

@media screen and (max-width: 480px) {

    #pricingcomponents {
        font-size: .9em;
    }

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.feature {
    text-align: center;
    padding: 1.5em;
    text-justify: center;
    background-color: #e6e3e344;
    padding-left: 6em;
    padding-right: 6em;
}
    
.option {
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em;
    border: #86a6eb;
    border-style: ridge;
    border-width: 0.1em;
    margin: 0.5em;
}
.option:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.selectedop {
    color: rgb(245, 125, 239);
    border: #2f426b;
    background-color: #ffff;
    border-style: ridge;
    border-width: thin;
    
}

.possible {
    border: 0;
}


.estimate {
    padding-left: 1%;
    border: auto;
    margin: auto;
    color: black;
    float: right;
    background: #ffffff;
    height: inherit;
    width: 45%;
    border: #273a63;
    border-style: double;
    font-size: large;
    text-align: center;
}

#total {
    padding-right: 1%;
}

.optrow {
    padding-top: 5%;
}

.pricingaccess {
    font-size: x-small;
}
