{% extends "landing/layout.html" %}
{% load static %}
{% block body %}

<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<header>
				<h1>ICOSAPP <img id="icoslogo" src="{% static 'landing/icosahedron.png' %}" class="zoom"></h1>
				<h3>Cloud applications on demand.</h3>
			</header>

			<div class="flex ">

				<div>
					<div class="zoom">
					<span class="icon fa-briefcase"></span>
					<h3>Business</h3>
					<p>Interfaz web de negocios.</p>
					</div>
				</div>

				<div>
					<div class="zoom">
					<span class="icon fa-code"></span>
					<h3>Web</h3>
					<p>Desarrollo web en la nube.</p>
					</div>
				</div>

				<div>
					<div class="zoom">
						<span class="icon fa-mobile"></span>
						<h3>Mobile</h3>
						<p>Apps móviles a la medida.</p>
					</div>
				</div>

			</div>

			<footer id="start">
				<a href="#" class="button">Empezar</a>
			</footer>
		</div>
	</section>


<!-- Two -->
	<section id="products" class="wrapper align-center">
		<div class="inner">
			<div class="flex flex-2">
				<article>
					<div class>
						<img src="{% static 'landing/laptop.png' %}" alt="Pic 01"/>
					</div>
					<header>
						<h3>Sitios Web<br /> Integrados</h3>
					</header>
					<p>Elige exactamente los recursos que necesitas.<br />Seguridad informática desde producción.<br />Cloud computing escalable.</p>
					<footer>
						<a href="#" class="button">Learn More</a>
					</footer>
				</article>
				<article>
					<div class>
						<img src="{% static 'landing/phone.png' %}" alt="Pic 02" />
					</div>
					<header>
						<h3>Aplicaciones móviles<br /> Híbridas</h3>
					</header>
					<p>Compatibilidad iOS y Android.<br />Aplicaciones responsivas y conectadas a la red.<br />Desarrollo económico en plataformas nativas.</p>
					<footer>
						<a href="#" class="button">Learn More</a>
					</footer>
				</article>
			</div>
		</div>
	</section>

<!-- Three -->
	<section id="three" class="wrapper align-center">
		<div class="inner">
			<div class="flex flex-2">
				<article>
					<div class="image round">
						<img src="{% static 'landing/icobriefcase.png' %}" alt="Pic 01" style="width: 100%; float: center;"/>
					</div>
					<header>
						<h3>Administración<br /> accesible</h3>
					</header>
					<p>Vinculamos bases de datos directamente a interfaces administrativas.<br />Genera y descarga facturas de inmediato.<br />Personaliza tu aplicación para llevarla al siguiente nivel.</p>
					<footer>
						<a href="#" class="button">Learn More</a>
					</footer>
				</article>
				<article>
					<div class>
						<img src="{% static 'landing/shopping.png' %}" alt="Pic 02" style="width: 21.5%; float: center;"/>
					</div>
					<header>
						<h3>e-Commerce<br /> escalable</h3>
					</header>
					<p>Acepta una variedad de servicios de pago.<br />Permite pagos al instante o suscripciones.<br />Recibe fondos directo en tu cuenta.</p>
					<footer>
						<a href="#" class="button">Learn More</a>
					</footer>
				</article>
			</div>
		</div>
	</section>

<!--Technologies-->
<section id="tech">
	<div class="inner">
		<hr>
		<header>
			<h2>Tecnología</h2>
			<p>Desarrollamos con la tecnología más moderna para brindarte un servicio de software con poder y seguridad. <br>
			Diseñamos arquitecturas una sola vez para el soporte de todas tus aplicaciones.
			</p>
		</header>
		</hr>
		<div class="flex">
			<div class="techel flex">
				<div class="zoom">
					<span class="icontech fa-html5"></span>
					<h3>HTML5</h3>
					<p>Diseño web personalizado.</p>
				</div>
				<div class="zoom">
					<span class="icontech fa-lock"></span>
					<h3>SSL</h3>
					<p>Dale confianza a tus clientes.</p>
				</div>
				<div class="zoom">
					<span class="icontech fa-js"></span>
					<h3>Javscript</h3>
					<p>Sitios dinámicos.</p>
				</div>
				<div class="zoom">
					<span class="icontech fa-python"></span>
					<h3>Python</h3>
					<p>Servidores multipropósito.</p>
				</div>
				<div class="zoom">
					<span class="icontech fa-database"></span>
					<h3>PostgreSQL</h3>
					<p>Almacenamiento de datos seguro.</p>
				</div>
				<div class="zoom">
					<span class="icontech fa-apple"></span>
					<h3>iOS</h3>
					<p>Desarrollo híbrido y económico.</p>
				</div>
				<div class="zoom">
					<span class="icontech fa-android"></span>
					<h3>Android</h3>
					<p>Aplicaciones conectadas y veloces.</p>
				</div>
				<div class="zoom">
					<span class="icontech fa-server"></span>
					<h3>Gunicorn</h3>
					<p>Servidores que escalan según el tráfico.</p>
				</div>
				<div class="zoom">
					<span class="icontech fa-react"></span>
					<h3>React</h3>
					<p>La mejor experiencia de usuario.</p>
				</div>
				<div class="zoom">
					<span class="icontech fa-stripe"></span>
					<h3>Stripe</h3>
					<p>Acepta pagos de todo tipo, de todo el mundo.</p>
				</div>

			
			</div>
		</div>
	</div>
</section>

<!-- Info -->
<section id="information" class="wrapper">
	<div class="inner">
		<hr>
		<header class="align-center">
			<h2>Nuestros Servicios</h2>
			<p>Información</p>
		</header>

	<!-- Intro -->
		<div class="row">
			<section class="6u 12u$(medium)">
				<h2>Desarrollo de Software</h2>
				<p>Hacemos <strong>Cloud Applications:</strong> sistemas remotos basados en la web, sumamente sencillos de escalar y hechos a la medida, donde el mantenimiento es mínimo. <br><strong>ICOSAPP</strong> es una iniciativa de desarrolladores enfocada en la técnica, en especial para garantizar calidad de operación y seguridad informática.</p>
			</section>
			<section class="3u 6u(medium) 12u$(small)">
				<h3>Servicios Web</h3>
				<p>Permiten la conectividad entre usuarios y transacciones. Todas nuestras aplicaciones integran una <strong>REST API:</strong> una interfaz para que tu aplicación esté conectada de manera segura y eficiente.</p>
			</section>
			<section class="3u$ 6u$(medium) 12u$(small)">
				<h3>Deployment</h3>
				<p>Nosotros nos encargamos de todo. Manejamos por ti los nombres de <strong>dominio</strong>, <strong>encripción</strong> de transacciones, arquitectura de <strong>bases de datos</strong>, ajustes de <strong>servidores</strong> y <strong>publicación</strong>.</p>
			</section>
		</div>
	</div>
</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">

			<h3>Contacto</h3>

			<form action="#" method="post">

				<div class="field half first">
					<label for="name">Nombre</label>
					<input name="name" id="name" type="text" placeholder="Name">
				</div>
				<div class="field half">
					<label for="email">Email</label>
					<input name="email" id="email" type="email" placeholder="Email">
				</div>
				<div class="field">
					<label for="message">Cuéntanos lo que sea</label>
					<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
				</div>
				<ul class="actions">
					<li><input value="Enviar Mensaje" class="button alt" type="submit"></li>
				</ul>
			</form>

			<div class="copyright">
				Guadalajara, Jalisco, México.
			</div>

		</div>
	</footer>

{% endblock %}