{% extends "landing/layout.html" %}
{% load static %}
{% block body %}

<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<header>
				<h1>ICOSAPP <img id="icoslogo" src="{% static 'landing/icosahedron.png' %}" class="zoom"></h1>
				<h3>Cloud applications on demand.</h3>
			</header>

			<div class="flex ">

				<div>
					<div class="zoom">
					<span class="icon fa-briefcase"></span>
					<h3>Business</h3>
					<p>Interfaz web de negocios.</p>
					</div>
				</div>

				<div>
					<div class="zoom">
					<span class="icon fa-code"></span>
					<h3>Web</h3>
					<p>Desarrollo web en la nube.</p>
					</div>
				</div>

				<div>
					<div class="zoom">
						<span class="icon fa-mobile"></span>
						<h3>Mobile</h3>
						<p>Apps móviles a la medida.</p>
					</div>
				</div>

			</div>

			<footer id="start">
				<a href="#" class="button">Empezar</a>
			</footer>
		</div>
	</section>


<!-- Two -->
	<section id="two" class="wrapper align-center">
		<div class="inner">
			<div class="flex flex-2">
				<article>
					<div class>
						<img src="{% static 'landing/laptop.png' %}" alt="Pic 01"/>
					</div>
					<header>
						<h3>Sitios Web<br /> Integrados</h3>
					</header>
					<p>Elige exactamente los recursos que necesitas.<br />Seguridad informática desde producción.<br />Cloud computing escalable.</p>
					<footer>
						<a href="#" class="button">Learn More</a>
					</footer>
				</article>
				<article>
					<div class>
						<img src="{% static 'landing/phone.png' %}" alt="Pic 02" />
					</div>
					<header>
						<h3>Aplicaciones móviles<br /> Híbridas</h3>
					</header>
					<p>Compatibilidad iOS y Android.<br />Aplicaciones responsivas y conectadas a la red.<br />Desarrollo económico en plataformas nativas.</p>
					<footer>
						<a href="#" class="button">Learn More</a>
					</footer>
				</article>
			</div>
		</div>
	</section>

<!-- Three -->
	<section id="three" class="wrapper align-center">
		<div class="inner">
			<div class="flex flex-2">
				<article>
					<div class="image round">
						<img src="{% static 'landing/icobriefcase.png' %}" alt="Pic 01" style="width: 100%; float: center;"/>
					</div>
					<header>
						<h3>Administración<br /> accesible</h3>
					</header>
					<p>Vinculamos bases de datos directamente a interfaces administrativas.<br />Genera y descarga facturas de inmediato.<br />Personaliza tu aplicación para llevarla al siguiente nivel.</p>
					<footer>
						<a href="#" class="button">Learn More</a>
					</footer>
				</article>
				<article>
					<div class>
						<img src="{% static 'landing/shopping.png' %}" alt="Pic 02" style="width: 21.5%; float: center;"/>
					</div>
					<header>
						<h3>e-Commerce<br /> escalable</h3>
					</header>
					<p>Acepta una variedad de servicios de pago.<br />Permite pagos al instante o suscripciones.<br />Recibe fondos directo en tu cuenta.</p>
					<footer>
						<a href="#" class="button">Learn More</a>
					</footer>
				</article>
			</div>
		</div>
	</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">

			<h3>Contacto</h3>

			<form action="#" method="post">

				<div class="field half first">
					<label for="name">Nombre</label>
					<input name="name" id="name" type="text" placeholder="Name">
				</div>
				<div class="field half">
					<label for="email">Email</label>
					<input name="email" id="email" type="email" placeholder="Email">
				</div>
				<div class="field">
					<label for="message">Cuéntanos lo que sea</label>
					<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
				</div>
				<ul class="actions">
					<li><input value="Enviar Mensaje" class="button alt" type="submit"></li>
				</ul>
			</form>

			<div class="copyright">
				Guadalajara, Jalisco, México.
			</div>

		</div>
	</footer>

{% endblock %}