{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Icosapp</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'landing/main.css' %}"/>
		<link rel="icon" href="{% static 'landing/icosahedron.png' %}" type="image/icon type">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<!-- Header -->
		<header id="header" class ="sticky">
			<div class="inner">
				<a href="#banner" class="logo"><strong>ICOSAPP</strong> Application</a>
				<nav id="nav">
					<a href="#products">Productos</a>
					<a href="#tech">Tecnología</a>
					<a href="#information">Información</a>
					<a href="#footer">Contacto</a>
				</nav>
				<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
			</div>
		</header>
        {% block body %}
		{% endblock %}
	</body>
	<script src="{% static 'landing/index.js' %}"></script>
	<script src="https://kit.fontawesome.com/c658774e7e.js" crossorigin="anonymous"></script>
</html>