{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Icosaedro</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
			<link rel="stylesheet" href="{% static 'landing/main.css' %}"/>
			{% block css %}{% endblock %}
		<link rel="icon" href="{% static 'landing/icosahedron.png' %}" type="image/icon type">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		{% if nombre != "index" %}
		<!-- Header -->
			<section id="banner">
					<div class="inner">
							<header>
									<h1>{% block header%} ICOS MOBILE {% endblock %} <img id="icoslogo" src="{% static 'landing/icosahedron.png' %}" class="zoom"></h1>
									<h3>{% block header_desc %}Desarrolla una aplicación móvil para tu negocio <br> Para Andorid, iPhone, o Nokia.{% endblock %}</h3>
							</header>
					</div>
			</section>
			   <hr>
			{% endif %}
      {% block body %}
			{% endblock %}
	</body>
	<script src="{% static 'landing/index.js' %}"></script>
	<script src="https://kit.fontawesome.com/c658774e7e.js" crossorigin="anonymous"></script>
</html>
