{% extends 'landing/layout.html' %}
{% load static %}
{% block header %} ICOS MOBILE {% endblock %}
{% block header_desc %} Desarrolla una aplicación móvil para tu negocio <br>Aplicaciones híbridas, que funcionan en cualquier dispositivo {% endblock %}
{% block body %}
		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Mobile</h2>
						<p>Icosahedro te crea una aplicación móvil resposiva para tu negocio, con enfoque en la experiencia del usuario.<br>
						Procesa compras, accede a mapas, y mucho más. Icosaedro vuelve tus sueños realidad.</p>
					</header>
							<p><span class="image left"><img src="{% static 'landing/red.png'%}" alt="Pic 03" style="width: 14em;"/></span>Creamos tu aplicación tal y como la imaginas</p>
							<p> Icosahedro ofrece todo tipo de implementaciones para tu aplicación; desde e-commerce, hasta mapas interactivos. Lo que se te ocurra, lo podemos. <br>
								Tenemos una variedad de plantillas de las cuales elegir, sin embargo, puedes hacer los cambios que quieras para que tu aplicación quede tal y como la imaginaste.
							Icosahedro ofrece apliaciones híbridas, por lo que podrá usar la apliación desde cualquier dispositivo móvil.</p>
              <div class="image left">
                  <img src="{% static 'landing/purple.png' %}" alt="Pic 01" style="width: 16em;"/>
              </div>
              <p>Revisamos contigo la integración de tu aplicación de principio a fin. Nuestro equipo de desarrolladores te escucha desde el primer momento, para que el diseño y la funcionalidad sean uno mismo.
							Durante el proceso, se le mostrarán los resultados para que modifique lo que quiera, y esté completamente satisfecho con el resultado. <br>
							Interactúa con nuestro equipo por correo y llamadas con el fin de ajustar presupuestos y planear el despliegue final. ¡Hacemos lo que nos pidas!</p>
								<div class="table-wrapper">
													<table class="alt">
														<thead>
															<tr>
																<th>Nombre</th>
																<th>Descripción</th>
																<th>Precio</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>BASIC</td>
																<td>Ideal para microempresas. Aplicación disponible en la App Store y Google Play, diseño básico adaptado a móvil. </td>
																<td>3,500.00</td>
															</tr>
															<tr>
																<td>DREAMER</td>
																<td>Ideal para empresas pequeñas que están en constante crecimiento.
																	Aplicación disponible en la App Store y Google Play, diseño a la medida y acceso a las herramientas del móvil.  </td>
																<td>7,500.00</td>
															</tr>
															<tr>
																<td>ICOSAEDRO</td>
																<td>Ideal para empresas grandes. Todo ilimitado, todo a tu medida.</td>
																<td>15,000.00</td>
															</tr>
														</tbody>
													</table>
												</div>
							<div class="align-center">
              	<p>Contáctanos ahora mismo, para comenzar con el proceso </p>
								<a href="{% url 'landing:desarrollo' %}" class="button">Siguiente</a>
							</div>
				</div>
			</section>
		{% include "landing/footer.html" %}
{% endblock %}
